@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hover-animate-gradientFlow:hover {
  background: linear-gradient(120deg, #160135, #2e0158, #0b0140, #022b83);
  background-size: 400% 400%;
  animation: gradientFlow 10s ease infinite;
}

